html, body {
    /* margin: 0;
    height: 80%; */
    /* display: grid;
    place-items: center; */
    background-color: white;
}

.panel-container {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.panel, .panel-wide  {
    font-size: 1.5em;
    background-color :white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: solid black 1px;
    border-radius: 2%;
    padding: 0px;
    box-shadow: 2px 2px 2px gray;
    overflow: hidden;
    margin: 20px;
    padding-bottom: 20px;
    flex: 0 1 400px;
    width: auto;
    height: 100%;
    overflow-y: auto;
}

.panel-wide {
    margin: 0;
    flex: 0.9 1 400px;
}

.panel-v-container {
    height: 100%;
}

.panel-v-container > .panel {
    height: auto;
}

#double {
    flex: 0 1 800px !important;
}

.panel > h1, .panel-wide > h1 {
    margin: 0px;
    background-color:rgb(26, 75, 221);
    color: white;
    font-weight: normal;
    padding-left: 10px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    min-width: 400px;
}

form > input, form > label {
    display: block;
}

form > input {
    margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
    font-size:1em;
}

.panel-body {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    flex-flow: column;
}

#clickable {
    text-decoration: underline;
    cursor: pointer;
}

td {
    font-size: 0.8em;
    min-width: 100px;
    text-align: center;
}

.panel-body > table {
    margin: 0px;
    table-layout: auto;
}

.rememberMe {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.rememberMe > * {
    margin-right: 10px;
}

.rememberMe > input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

button {
    font-size: 0.75em;
    height: 2em;
    margin-right: 20px;
    background-color: white;
    border-radius: 8%;
}

.labelButton {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin-top: 20px;
}

.labelButton > button {
    margin-top: 5px;
}

.labelButton > button {
    width: 50%;
}

.logoutButton > button{
    width: 50%;
    margin-top: 40px;
}

.panel-table {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    height: auto;
    width: inherit;
    max-height: 30vh;
    overflow-y: auto;
}

.panel-v-container > .panel > .panel-body > .panel-table {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    height: auto;
    width: inherit;
    max-height: 30vh;
    overflow-y: auto;
}

.panel-wide > .panel-body {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: flex-start;
    padding: 0px;
    margin: 0px;
}

.panel-plot {
    display: flex;
    width: 100%;
    height: 100%;
}

.plot-label {
    align-self: center;
    transform: rotate(-90deg);
    white-space: nowrap;
    margin: 0px;
    margin-left: 20px;
    width: 40px;
}

.panel-body > .plot-label {
    transform: rotate(0deg);
    width: auto;
}
